<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/imagens/iconsolar.ico">
    <link rel="stylesheet" type="text/css" href="/estilos/cursos.css"/>
    <title>Listagem de Cursos - ADS</title>

</head>
<body>
    <header>
        <h3>Gerenciador de Tarefas<br>Dream Builder 2</h3>
        <nav>
            <a href="https://integrating-project-dream-builder-two.netlify.app/" target="_blank">Site Dream Builder 2</a>
            <a href="/gerenciador">Gerenciador de Tarefas</a>
            <a href="/evolucao">Sua Evolução</a>
            <a href="/dados">Cursos e Edições</a>
            <a href="/contato">Fale Conosco</a>
        </nav>
    </header>

    <div class="container">
        <h3>Listagem de Cursos - ADS</h3>
        <fieldset>
            <legend>Registro de Edições - ADS</legend>
            <table>
                <tr>
                    <th>Código</th>
                    <th>Código da Edição</th>
                    <th>Nome do Curso</th>
                    <th>Turno do Curso</th>
                    <th>Nota de Corte</th>
                    <th>Maior Nota</th>
                    <th>Menor Nota</th>
                    <th>Número de Inscritos</th>
                    <th>Número de Vagas</th>
                    <th>Demanda por Aluno/Vaga</th>
                </tr>
                <% for(let i=0; i<obj_cursos.length; i++) { %>
                    <tr>
                        <td><%= obj_cursos[i].id_curso %></td>
                        <td><%= obj_cursos[i].idEdicao %></td>
                        <td><%= obj_cursos[i].nome_curso %></td>
                        <td><%= obj_cursos[i].turno_curso %></td>
                        <td><%= obj_cursos[i].nota_corte %></td>
                        <td><%= obj_cursos[i].maior_nota %></td>
                        <td><%= obj_cursos[i].menor_nota %></td>
                        <td><%= obj_cursos[i].inscricoes %></td>
                        <td><%= obj_cursos[i].vagas %></td>
                        <td><%= obj_cursos[i].demanda %></td>
                    </tr>
                <% } %>
            </table>
        </fieldset>
    </div>
</body>
</html>
